@import './sections/_header.scss';
@import './sections/_showcase.scss';
@import './sections/_features.scss';
@import './sections/_lightdarkmode.scss';
@import './sections/_manageyourwork.scss';
@import './sections/_downloadapps.scss';
@import './sections/_integratetools.scss';
@import './sections/_newsletter.scss';
@import './sections/_footer.scss';
@import './sections/_accountdetails.scss';
@import './sections/_accountsecurity.scss';
@import './sections/_contact.scss';
@import './sections/notfound.scss';
@import './sections/courses';
@import './sections/signup-form';
@import './sections/create-account';
@import './sections/singlecourseshowcase';
@import './sections/descriptioncourse';
@import './sections/programdetails';
@import './sections/albert';
@import './sections/savedcourses';
